.form{
    width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.saveButton{
  color: white;
  background-color: green;
  font-size: 20px;
}
.textBoxSave{
  font-size: 20px;
}